
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;;
    background-color:white;
    box-shadow: 2px 2px 20px #dedede;
}
header p{
    font-family: var(--main-font);
    color: #666666;
}

header img {
 width: 20%;
 border-radius: 250px;
}