@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Wix+Madefor+Text&display=swap');

:root {
  --main-color: #feff86;
  --second-color: #21e3ea;
  --third-color: #befcfe;
  --title-color: #154eb0;
  --main-font: 'Inter';
  --title-font: 'Wix Madefor Text';
}

* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 65%;
  background-image: url(../src/Front/assets/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.converters {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

h1 {
  font-family: var(--title-font);
  font-size: 1.5em;
  color: var(--second-color);
}

h2 {
  font-family: var(--title-font);
  color: var(--title-color);
}
